---
---

/**
 * Scriptor Jekyll Theme 2.0.0
 * By Just Good Themes - https://justgoodthemes.com/
*/

/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
  0. Icons
  1. Reset
  2. General
  3. Structure
  4. Site Header
  5. Content
  6. Comments
  7. Posts Navigation
  8. Site Footer
  9. Animations
 10. Prism
*/

// Font.
$font: (
  primary: ("Lato","Helvetica Neue",Helvetica,sans-serif),
  secondary: ("Noto Serif",Georgia,serif)
);

// Palette.
{% assign accent = site.accent_colors.primary | default: '#2d72d9' %}
{% assign frame = site.accent_colors.border | default: accent %}
$palette: (
  accent:    {{ accent }},
  frame:     {{ frame }},
  primary:   #6b747a,
  secondary: #2c343c,
  meta:      #6e6e6e, //Used to be #9ba6ad with default Scriptor
  border:    #d7d7d7,
  bg:        #fbfbfb
);

// Snappiness.
{% assign scale = site.sass.animation_scale | default: 1.00 %}
{% assign delay = site.sass.animation_delay | default: scale %}
$snappiness: (
  animation: {{ scale }},
  delay:    {{ delay }},
);

// Imports
@import "functions";
@import "icons";
@import "reset";
@import "general";
@import "structure";
@import "site-header";
@import "content";
@import "comments";
@import "posts-navigation";
@import "site-footer";
@import "animations";
@import "prism";